/*
**  Time
*/

.timer-module {
  width: 60px;
  height: 100px;
  background: #eee;
  display: inline-block;
  margin-right: 10px;
}


.t-n {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  margin: 0px;
  float: left;
  border-radius: 5px;
}
